<div class="container">
    <h3 class="heading">Add Astronaut</h3>
    <form class="astronaut-form">
        <mat-form-field>
            <input
                matInput
                placeholder="Enter Id"
                [formControl]="id"
                required
            />
            <mat-error *ngIf="id.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="Enter name"
                [formControl]="name"
                required
            />
            <mat-error *ngIf="name.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="Enter age"
                [formControl]="age"
                required
            />
            <mat-error *ngIf="age.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="Enter missions"
                [formControl]="missions"
                required
            />
            <mat-error *ngIf="missions.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </form>
</div>
