<div class="container">
    <h3>Add Astronaut</h3>
    <form [formGroup]="astronautForm" (ngSubmit)="onSubmit()" class="astronaut-form">
        <mat-form-field>
            <mat-label>Enter your Id</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your Age</mat-label>
            <input matInput formControlName="age">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your Missions</mat-label>
            <input matInput formControlName="missions">
        </mat-form-field>
        <div class="btn-class">
            <button class="cancel-button" type="button" matButton="filled">Cancel</button>
            <button class="submit-button" type="submit" matButton="filled">Submit</button>
        </div>
    </form>
</div>
